* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

.Blog-card {
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 10px grey;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 40rem;
    color: #0e2431;
    font-weight: 500;
    padding: 10px;
    & h3 {
        font-size: 25px;
        text-align: center;
    }
    & p {
        padding:10px;
    }
}